.payment {
  margin: auto;
  margin-top: 50px;
  width: 60%;
}

.payment .double-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.payment .double-input .half-input {
  width: 49%;
}

.payment .payment-method .payment-source {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 25px 0 40px;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 10px;
}

.payment .payment-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 20%;
}

.payment .order-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.payment .order-headers .product {
  width: 30%;
}

.payment .order-headers .quantity {
  width: 30%;
  text-align: center;
}

.payment .order-headers .total {
  width: 30%;
  text-align: end;
}

.payment .order-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.payment .order-details .product-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  text-align: start;
  margin-bottom: 20px;
}

.payment .order-details .product-detail .product-image {
  width: 100px;
}

.payment .order-details .product-detail .product-name {
  margin-left: 20px;
}

.payment .order-details .quantity {
  width: 30%;
  text-align: center;
}

.payment .order-details .total {
  width: 30%;
  text-align: end;
}

.payment .total-payment {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.payment .total-payment .total {
  width: 50%;
  text-align: end;
}

.payment .total-payment .amount {
  width: 50%;
  padding-left: 20px;
}
