@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

input:focus,
select:focus {
  outline: none;
}

.container-shop {
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* TOP PART */
.container-shop .top-part {
  display: flex;
  align-items: center;
}

.container-shop .top-part .shop-name {
  width: 70%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 50px;
}

.container-shop .top-part .search {
  position: relative;
  width: 15%;
  border-bottom: 1px solid #c4c4c4;
  height: 40px;
}

.container-shop .top-part .search input {
  position: absolute;
  top: 10px;
  font-family: 'Roboto', sans-serif;
  min-width: 100%;
  opacity: 0.2;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: none;
  width: 80%;
}

.container-shop .top-part .search input:focus {
  color: #000;
}

.container-shop .top-part .search button {
  position: absolute;
  border: none;
  background-color: #fff;
  font-size: 18px;
  right: 5px;
  top: 10px;
  cursor: pointer;
}

.container-shop .top-part .cart {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
}

/* MIDDLE PART */
.container-shop .middle-part {
  display: flex;
  margin-top: 100px;
}

.container-shop .middle-part .features {
  width: 15%;
  align-self: flex-end;
}

.container-shop .middle-part .features ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
  border-left: 1px solid #e7f0f2;
  padding-left: 25px;
}

.container-shop .middle-part .features ul li {
  margin-top: 40px;
  cursor: pointer;
}

.container-shop .middle-part .features ul li.top-list {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
}

.container-shop .middle-part .features ul li.active {
  font-weight: 900;
}

.container-shop .middle-part .product-list {
  width: 70%;
}

.container-shop .middle-part .product-list .products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
}

.container-shop .middle-part .product-list .products .product {
  display: flex;
  align-items: flex-end;
  height: 200px;
  width: 300px;
  cursor: pointer;
}

.container-shop .middle-part .product-list .products .product .description {
  width: 70%;
  margin: 0 0 10px 10px;
  padding: 5px 0 5px 5px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  background-color: rgba(119, 119, 119, 0.7);
}

.container-shop
  .middle-part
  .product-list
  .products
  .product
  .description
  .title {
  font-size: 20px;
}

.container-shop
  .middle-part
  .product-list
  .products
  .product
  .description
  .category {
  font-size: 14px;
  margin-top: 5px;
}

.container-shop .middle-part .filters {
  width: 15%;
}

.container-shop .middle-part .filters ul {
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
  border-right: 1px solid #e7f0f2;
  padding-right: 25px;
}

.container-shop .middle-part .filters ul li {
  margin-bottom: 40px;
  cursor: pointer;
}

.container-shop .middle-part .filters ul li.active {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/* BOTTOM PART */
.container-shop .bottom-part {
  justify-self: center;
  align-self: center;
  margin-top: 100px;
  border-top: 1px solid #e7f0f2;
  padding: 10px 40px 0 40px;
}

.container-shop .bottom-part ul {
  list-style-type: none;
  padding: 0;
}

.container-shop .bottom-part ul li {
  display: inline-block;
  margin: 0 15px;
  color: #e7f0f2;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}

.container-shop .bottom-part ul .product-navigation.active {
  color: #000;
}
