.cart-list {
  margin: auto;
  margin-top: 50px;
  width: 60%;
}

.cart-list .cart-header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.cart-list .cart-header .product {
  width: 45%;
}

.cart-list .cart-header .price {
  width: 15%;
}

.cart-list .cart-header .amount {
  width: 15%;
}

.cart-list .cart-header .total {
  width: 15%;
}

.cart-list .cart-header .action {
  width: 10%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cart-item .cart-product {
  width: 45%;
  display: flex;
  align-items: center;
}

.cart-item .cart-product .product-img {
  height: 200px;
  padding: 20px;
}

.cart-item .item-price {
  width: 15%;
}

.cart-item .item-amount {
  width: 15%;
  font-size: 20px;
}

.cart-item .item-amount .amount {
  margin: 0 10px;
}

.cart-item .total {
  width: 15%;
}

.cart-item .remove {
  width: 10%;
}

.cart-list .total-payment {
  display: flex;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}

.cart-list .total-payment .total1 {
  width: 50%;
  text-align: end;
}

.cart-list .total-payment .total2 {
  width: 50%;
  padding-left: 20px;
}

.cart-list .button {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .cart-list {
    width: 90%;
  }

  .cart-list .card {
    font-size: 11px;
  }

  .cart-header > li {
    height: fit-content;
  }

  .cart-list .cart-header .product {
    width: 35%;
  }

  .cart-list .cart-header .amount {
    width: 25%;
  }

  .cart-item {
    margin-bottom: 4em;
  }

  .cart-item .cart-product {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-item .cart-product .product-img {
    height: 100px;
    padding: 0;
    margin-bottom: 1em;
  }

  .cart-item .cart-product .item-name {
    font-size: 12px;
    font-weight: 600;
  }

  .cart-item .item-amount {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  .cart-item .item-amount .amount {
    margin: 0 5px;
  }

  .cart-item .item-price {
    width: 15%;
  }

  .cart-item .item-amount .amount {
    margin: 0 10px;
  }
}
